.preview {
  width: 100%;
  min-height: 20vh;
  background-color: aliceblue;
  margin-bottom: 24px;

  border: 1px solid aliceblue;
}

.preview > * {
  margin: 0;
}

.preview.add {
  border: 1px solid blue;
}
